/* This file is for your main application CSS */
@import "./readable.css";
@import "./highlight.css";
@import "./fonts.css";

:root {
  --background-color: #fff;
  font-size: 16pt;
}

body {
  background-color: inherit;
}

img {
  max-width: 100%;
}

.post h3 {
  display: inline-block;
  background: url("./title-bg.png") no-repeat left center / cover;
}

code {
  font-family: 'Fira Code', monospace;
  background: #eee;
  font-size: 1em;
}

pre {
  background: #fff;
  border-left: none;
}

pre code {
  background: none;
}

li > p {
  display: inline;
}

footer.page-footer {
  text-align: center;
  font-size: 90%;
  padding: 2em 0;
  color: #666;
}

time {
  color: #666;
}

a.tag {
  color: #666;
  text-decoration: underline;
}

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

section#comments {
  color: #666;
}

section#comments #comments_info {
  color: #000;
}

section.post {
  font-family: serif;
  margin-bottom: 2em;
}

section.post header {
  border-bottom: none;
  margin-bottom: 0;
  font-size: 80%;
}

section.post header > * {
  display: inline-block;
}

#acknowledgements {
  font-family: sans-serif;
}

#acknowledgements h2 {
  font-size: inherit;
  font-weight: bold;
}

.note {
  box-shadow: 0 10px 6px -6px #eee;
  background-color: #fff7d9;
  padding: 1em;
  margin-bottom: 1em;
}

summary {
  cursor: pointer;
}

.nav.container {
  align-items: center;
}

