<%= for post <- @posts do %>
  <section class="post">
    <h2>
      <%= link post.title, to: Routes.post_path(@conn, :show, post.id) %>
    </h2>
    <%= post.date %>
    <%= post.author %>
    <%= render "tags.html", tags: post.tags, conn: @conn %>

    <%= raw(post.body) %>
  </section>
<% end %>
