<%= for post <- @posts do %>
  <h3><%= link post.title, to: Routes.post_path(@conn, :show, post.id) %></h3>

  <time><%= post.date %></time>
  <%= render "tags.html", tags: post.tags, conn: @conn %>
<% end %>
