<%= for post <- @posts do %>
  <h2>
    <%= link post.title, to: "#" %>
  </h2>
  <%= post.date %>
  <%= post.author %>
  <ul class="tags">
    <%= for tag <- (post.tags || []) do %>
      <%= link tag, to: "#" %>
    <% end %>
  </ul>

  <%= raw(post.body) %>
<% end %>

